h1 {
    text-align: center;
    margin-top: 40px;
}

#errorMessage {
    color: red;
}

.action {
    width: 70px;
}

#checkbox {
    border: solid 1px blue;
    margin-left: 30px;
    margin-top: 6px;
}

.edit {
    border: 2px solid orange;
}

.noedit {
    background-color: rgb(230, 230, 230);
}

.crossed {
    text-decoration: line-through;
}